<div id="<%= dom_id datum %>">
  <p>
    <strong>Roll no:</strong>
    <%= datum.roll_no %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= datum.name %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= datum.branch %>
  </p>

  <p>
    <strong>Fees:</strong>
    <%= datum.fees %>
  </p>

</div>
