<%= form_with(model: datum) do |form| %>
  <% if datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
        <% datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class = "content">
<%
=begin%>
 <%= form_with(model: @site) do |f|%>
  <div>
    <%= form.label:roll_no,{ class="form-control" placeholder="First name"} %>
    <%= form.number_field:roll_no, { class="form-control" placeholder="First name"} %>
  </div> 
<%
=end%>



  



  <div>
    <%= form.label :roll_no, style: "display: block" %>
    <%= form.number_field :roll_no %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :branch, style: "display: block" %>
    <%= form.text_field :branch %>
  </div>

  <div>
    <%= form.label :fees, style: "display: block" %>
    <%= form.number_field :fees %>
  </div>

  <div>
  
<%
=begin%>
 <button type="button" class="btn btn-primary"><%= form.submit %></button> 
<%
=end%>
<%= form.submit nil, :class => 'btn btn-primary' %>


  </div>
  </div>
  
<% end %>
